body {
    background-image: url("lined_paper_by_ll_stock_dakp14-414w-2x.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#calc-frame {
    width: 500px;
    height: 750px;
    background-color: grey;
    padding: 25px;
    border: 2px solid black;
    border-radius: 10px;
}

#readOut {
    font-size: 100px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 175px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

#buttons {
    height: 500px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

#buttons div {
    display: flex;
    justify-content: space-around;
}

.clearButtons button {
    width: 240px;
    height: 100px;
}

.firstRow button {
    width: 115px;
    height: 100px;
}

.secondRow button {
    width: 115px;
    height: 100px;
}

.thirdRow button {
    width: 115px;
    height: 100px;
}

.fourthRow button {
    width: 115px;
    height: 100px;
}

button {
    font-size: 40px;
    text-align: center;
    border-radius: 10px;
}

#footer {
    text-align: center;
    margin-top: 115px;
    font-size: 25px;
}