body {
    background-image: url("lined_paper_by_ll_stock_dakp14-414w-2x.jpg");
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

#calc-frame {
    background-color: navy;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;;
}

#readOut {
    display: flex;
    justify-content: flex-end;
    color: white;
}